.footer {
    padding: 20px 0 20px 0;
    background: rgba(0, 255, 136, 0.514);
    height: 4rem;
}

h3 {
    color: rgba(0, 0, 0, 0.774);
    font-size: 20px;
    text-align: center;
}


@media (max-width: 380px) {
    h3 {
        font-size: 18px;
    }
}